---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: multus-iot
spec:
  config: |-
    {
      "cniVersion": "0.3.1",
      "name": "multus-iot",
      "plugins": [
        {
          "type": "macvlan",
          "master": "enp1s0.20",
          "mode": "bridge",
          "ipam": {
            "type": "static",
            "addresses": [
              { "address": "192.168.20.140/24" }
            ]
          }
        }
      ]
    }
