---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 30m
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    crds:
      enabled: true
    cleanPrometheusOperatorObjectNames: true
    defaultRules:
      rules:
        kubeApiserverBurnrate: false
        kubeApiserverSlos: false
    alertmanager:
      route:
        main:
          enabled: true
          hostnames: ["alertmanager.${CLUSTER_DOMAIN}"]
          parentRefs:
            - name: envoy-internal
              namespace: network
              sectionName: https
      alertmanagerSpec:
        alertmanagerConfiguration:
          name: alertmanager
          global:
            resolveTimeout: 5m
        externalUrl: https://alertmanager.${CLUSTER_DOMAIN}
        storage:
          volumeClaimTemplate:
            spec:
              storageClassName: nfs-csi-sc
              resources:
                requests:
                  storage: 1Gi
    kubelet:
      enabled: true
    kubeApiServer:
      enabled: true
    kubeControllerManager:
      enabled: true
      endpoints: &cp
        - 192.168.1.102
        - 192.168.1.103
        - 192.168.1.104
    kubeEtcd:
      enabled: false
    kubeScheduler:
      enabled: true
      endpoints: *cp
    kubeProxy:
      enabled: false
    prometheus:
      route:
        main:
          enabled: true
          hostnames:
            - prometheus.${CLUSTER_DOMAIN}
          parentRefs:
            - name: envoy-internal
              namespace: network
              sectionName: https

      prometheusSpec:
        externalUrl: https://prometheus.${CLUSTER_DOMAIN}
        alertingEndpoints:
          - namespace: observability
            name: alertmanager-operated
            port: 9093
            apiVersion: v2
        scrapeInterval: 1m # Must match interval in Grafana Helm chart
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        enableAdminAPI: true
        walCompression: true
        enableFeatures:
          - auto-gomemlimit
          - memory-snapshot-on-shutdown
          - new-service-discovery-manager
        retention: 14d
        retentionSize: 70GB
        resources:
          requests:
            cpu: 100m
            memory: 512Mi
          limits:
            memory: 1500Mi
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: nfs-csi-sc
              resources:
                requests:
                  storage: 75Gi
    nodeExporter:
      enabled: true
    kubeStateMetrics:
      enabled: true
    kube-state-metrics:
      fullnameOverride: kube-state-metrics
      metricLabelsAllowlist:
        - pods=[*]
        - deployments=[*]
        - persistentvolumeclaims=[*]
      prometheus:
        monitor:
          enabled: true
          relabelings:
            - action: replace
              regex: (.*)
              replacement: $1
              sourceLabels: ["__meta_kubernetes_pod_node_name"]
              targetLabel: kubernetes_node
    grafana:
      enabled: false
      forceDeployDashboards: true
