---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: trivy-operator
  namespace: security
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: trivy-operator
  values:
    operator:
      scanJobsConcurrentLimit: 1
      vulnerabilityScannerScanOnlyCurrentRevisions: true
      configAuditScannerScanOnlyCurrentRevisions: true
      infraAssessmentScannerEnabled: false
      resources:
        requests:
          cpu: 10m
          memory: 128Mi
        limits:
          memory: 512Mi
    nodeCollector:
      excludeNodes: "*"
    serviceMonitor:
      enabled: true
    trivy:
      ignoreUnfixed: true
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          cpu: 500m
          memory: 512Mi
      slow: true
