---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - ./namespace.yaml
  - ./booklore/ks.yaml
  - ./jellyseerr/ks.yaml
  - ./plex/ks.yaml
components:
  - ../../components/common
