# Trash
.DS_Store
.venv
Thumbs.db
# k8s
kubeconfig
kubeconfig.yaml
talosconfig
.decrypted~*.yaml
*.agekey
*.pub
*.key
# Private
.private
.bin
# Brew
Brewfile.lock.json
# OpenTofu
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
