---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname sabnzbd
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  dependsOn:
    - name: external-secrets-stores
  interval: 30m
  path: "./kubernetes/apps/downloads/sabnzbd/app"
  postBuild:
    substitute:
      APP: *appname
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  targetNamespace: downloads
  timeout: 5m
  wait: false
