---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csi-driver-nfs
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: csi-driver-nfs
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    storageClass:
      create: true
      name: nfs-csi-sc
      annotations:
        storageclass.kubernetes.io/is-default-class: "false"
      parameters:
        server: ${NFS_SERVER_ADDRESS}
        share: ${NFS_SERVER_PATH}
        subDir: "$${pvc.metadata.namespace}/$${pvc.metadata.name}"
      reclaimPolicy: Retain
      volumeBindingMode: Immediate
      mountOptions:
        - nfsvers=4.2
        - nconnect=16
        - hard
        - noatime
