---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app booklore
spec:
  chartRef:
    kind: OCIRepository
    name: booklore
  interval: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      booklore:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/booklore-app/booklore
              tag: v1.14.1

            env:
              TZ: ${TIMEZONE}
              PUID: 1000
              PGID: 100
              DATABASE_URL: "jdbc:postgresql://homelab-rw.databases.svc.cluster.local:5432/booklore"
              DATABASE_USERNAME: booklore
              DATABASE_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: booklore-secret
                    key: DB_PASSWORD
              SWAGGER_ENABLED: "false"

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: &port 6060
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: *port
                  initialDelaySeconds: 10
                  periodSeconds: 5
                  timeoutSeconds: 3
                  failureThreshold: 30

    service:
      app:
        controller: booklore
        ports:
          http:
            port: *port

    route:
      main:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - kind: Gateway
            name: envoy-internal
            namespace: network
        hostnames:
          - books.${CLUSTER_DOMAIN}
        rules:
          - backendRefs:
              - name: *app
                port: *port
            matches:
              - path:
                  type: PathPrefix
                  value: /

    persistence:
      data:
        existingClaim: *app
        advancedMounts:
          booklore:
            app:
              - path: /app/data

      books:
        type: nfs
        server: ${NFS_SERVER_ADDRESS}
        path: /mnt/zfs/media/Books
        advancedMounts:
          booklore:
            app:
              - path: /books

      bookdrop:
        type: emptyDir
