---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: booklore
  labels:
    kustomize.toolkit.fluxcd.io/ssa: IfNotPresent
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 1Gi
  storageClassName: nfs-csi-sc
