---
apiVersion: v1
kind: Namespace
metadata:
  name: openebs-system
  labels:
    pod-security.kubernetes.io/enforce: privileged
  annotations:
    kustomize.toolkit.fluxcd.io/prune: disabled
    volsync.backube/privileged-movers: "true"
