# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.12.0
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.34.2

clusterName: "valhalla"
endpoint: https://192.168.1.101:6443
clusterPodNets:
  - "10.69.0.0/16"
clusterSvcNets:
  - "10.96.0.0/16"
additionalApiServerCertSans: &sans
  - "192.168.1.101"
  - 127.0.0.1 # KubePrism
additionalMachineCertSans: *sans

# Disable built-in Flannel to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: "odin"
    ipAddress: "192.168.1.102"
    installDisk: "/dev/sda"
    talosImageURL: factory.talos.dev/installer/376567988ad370138ad8b2698212367b8edcb69b5fd68c80be1f2ec7d603b4ba
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:a8:85:76"
        dhcp: false
        addresses:
          - "192.168.1.102/24"
        routes:
          - network: 0.0.0.0/0
            gateway: "192.168.1.254"
        mtu: 1500
        vip:
          ip: "192.168.1.101"
  - hostname: "thor"
    ipAddress: "192.168.1.103"
    installDisk: "/dev/sda"
    talosImageURL: factory.talos.dev/installer/376567988ad370138ad8b2698212367b8edcb69b5fd68c80be1f2ec7d603b4ba
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:83:31:7d"
        dhcp: false
        addresses:
          - "192.168.1.103/24"
        routes:
          - network: 0.0.0.0/0
            gateway: "192.168.1.254"
        mtu: 1500
        vip:
          ip: "192.168.1.101"
  - hostname: "frigg"
    ipAddress: "192.168.1.104"
    installDisk: "/dev/sda"
    talosImageURL: factory.talos.dev/installer/376567988ad370138ad8b2698212367b8edcb69b5fd68c80be1f2ec7d603b4ba
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:d2:28:c9"
        dhcp: false
        addresses:
          - "192.168.1.104/24"
        routes:
          - network: 0.0.0.0/0
            gateway: "192.168.1.254"
        mtu: 1500
        vip:
          ip: "192.168.1.101"

# Global patches
patches:
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-features.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-openebs-local.yaml"
  - "@./patches/global/machine-sysctl.yaml"
  - "@./patches/global/machine-time.yaml"

# Controller patches
controlPlane:
  patches:
    - "@./patches/controller/cluster.yaml"
    - "@./patches/controller/disable-admission-controller.yaml"
