# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.12.0
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.35.0

clusterName: "valhalla"
endpoint: https://192.168.1.101:6443
clusterPodNets:
  - "10.69.0.0/16"
clusterSvcNets:
  - "10.96.0.0/16"
additionalApiServerCertSans: &sans
  - "192.168.1.101"
  - 127.0.0.1 # KubePrism
additionalMachineCertSans: *sans

# Disable built-in Flannel to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: "baldur"
    ipAddress: "192.168.1.105"
    installDisk: "/dev/sdb"
    talosImageURL: factory.talos.dev/installer/4b3cd373a192c8469e859b7a0cfbed3ecc3577c4a2d346a37b0aeff9cd17cdb0
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "b8:85:84:a2:8a:4b"
        dhcp: false
        addresses:
          - "192.168.1.105/24"
        routes:
          - network: 0.0.0.0/0
            gateway: "192.168.1.1"
        mtu: 1500
        vip:
          ip: "192.168.1.101"
  - hostname: "freya"
    ipAddress: "192.168.1.106"
    installDisk: "/dev/sdc"
    talosImageURL: factory.talos.dev/installer/4b3cd373a192c8469e859b7a0cfbed3ecc3577c4a2d346a37b0aeff9cd17cdb0
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "54:bf:64:7d:72:d3"
        dhcp: false
        addresses:
          - "192.168.1.106/24"
        routes:
          - network: 0.0.0.0/0
            gateway: "192.168.1.1"
        mtu: 1500
        vip:
          ip: "192.168.1.101"
  - hostname: "heimdall"
    ipAddress: "192.168.1.107"
    installDisk: "/dev/sdc"
    talosImageURL: factory.talos.dev/installer/4b3cd373a192c8469e859b7a0cfbed3ecc3577c4a2d346a37b0aeff9cd17cdb0
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "b8:85:84:a8:e7:55"
        dhcp: false
        addresses:
          - "192.168.1.107/24"
        routes:
          - network: 0.0.0.0/0
            gateway: "192.168.1.1"
        mtu: 1500
        vip:
          ip: "192.168.1.101"

# Global patches
patches:
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-features.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-openebs-local.yaml"
  - "@./patches/global/machine-sysctl.yaml"
  - "@./patches/global/machine-time.yaml"

# Controller patches
controlPlane:
  patches:
    - "@./patches/controller/cluster.yaml"
    - "@./patches/controller/disable-admission-controller.yaml"
