---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./blackbox-exporter/ks.yaml
  - ./grafana-operator/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./kromgo/ks.yaml
  - ./loki/ks.yaml
