---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mosquitto-config
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: nfs-csi-sc
