---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: mealie
  namespace: selfhosted
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: mealie

  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    controllers:
      mealie:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16.2
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: mealie

        containers:
          app:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v3.8.0
            env:
              TZ: "Europe/Amsterdam"
              BASE_URL: https://mealie.${CLUSTER_DOMAIN}
              DB_ENGINE: postgres
              SMTP_HOST: smtp.mailgun.org
              SMTP_PORT: 587
              SMTP_FROM_NAME: Mealie
              SMTP_FROM_EMAIL: noreply@${CLUSTER_DOMAIN}
              SMTP_AUTH_STRATEGY: TLS
              SMTP_USER: mealie@${CLUSTER_DOMAIN}
              # OPENAI_BASE_URL: https://openrouter.ai/api/v1
            envFrom: *envFrom
            resources:
              requests:
                memory: 250Mi
                cpu: 50m
              limits:
                memory: 500Mi

    service:
      app:
        controller: mealie
        ports:
          http:
            port: &port 9000

    route:
      app:
        hostnames:
          - mealie.${CLUSTER_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: mealie
                port: *port

    persistence:
      data:
        enabled: true
        existingClaim: mealie
        globalMounts:
          - path: /app/data
